section#about {
    background: black;
    height: 44vh;
    .contenedor {
        .padre {
            padding: 6%;
            display: flex;
            width: 100%;
            .img {
                width: 50%;
                text-align: center;
                h1 {
                    color: white;
                    margin-top: 5%;
                    font-family: "Sans";
                    font-weight: 300;
                    font-size: 2.5em;
                }
                img {
                    margin-top: 5%;
                    width: 45%;
                    margin-bottom: 5%;
                }
            }
            .text {
                margin-top: 2.5%;
                width: 50%;
                h3{
                    color: white;
                    font-family: "Sans";
                    font-weight: 300;
                    font-size: 1.9em;
                }
                p {
                    margin-top: 5.5%;
                    color: white;
                    font-family: "Roboto";
                    font-size: 1.3em;
                    text-align: left;
                }
            }
        }
    }
}