#der {
    //margin-left: 14.5em;
    .textabout {
        background: url('../img/fondito.png');
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-position: center;
        .contenedor {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            #navGrande {
                display: flex;
                background: transparent;
                color: white;
                .izq {
                    width: 30%;
                    padding: 0.1em;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    p {
                        margin-left: .5em;
                        font-family: 'Raleway';
                        font-size: 1.5em;
                    }
                    img {
                        margin-left: 0.45em;
                        max-width: 100px;
                        min-width: 100px;
                    }
                }
                .der {
                    width: 70%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    list-style-type: none;
                    li {
                        padding: 1%;
                        padding-left: 8%;
                        padding-right: 8%;
                        transform: skew(20deg);
                        height: 100%;
                        width: 100%;
                        max-width: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        list-style-type: none;
                        border-left: 6px solid transparent;
                        transition-duration: 1s;
                        color: white;
                        &:hover .ca a {
                            color: white;
                        }
                        &:hover {
                            background: black;
                            cursor: pointer;
                            border-color: rgb(5, 228, 80);
                        }
                        .ca {
                            transform: skew(-20deg);
                            a {
                                text-decoration: none;
                                color: white;
                                font-family: 'Raleway';
                                font-size: 1.5em;
                            }
                        }
                    }
                    #first {
                        margin-right: 0.7em;
                    }
                }
            }
            .me {
                display: flex;
                flex-direction: column;
                height: 100%;
                align-content: center;
                justify-content: center;
                .contenido {
                    margin-top: -12em;
                    text-align: center;
                    img{
                        max-width: 170px;
                        max-height: 170px;
                        border-radius: 100%;
                        border: 5px solid rgba(255, 255, 255, 0.856);
                    }
                    h1,
                    h2 {
                        text-align: center;
                        color: white;
                        font-family: 'Raleway';
                    }
                    h1 {
                        font-size: 2.5em;
                        padding-top: 0.45em;
                    }
                    .iconos {
                        margin: auto;
                        max-width: 40em;
                        border-top: 1px solid white;
                        margin-top: 1em;
                        text-align: center;
                        padding-top: 1em;
                        padding-bottom: 4em;
                        width: 100%;
                        a {
                            margin: 1%;
                            text-decoration: none;
                            text-align: center;
                            i {
                                color: white;
                                font-size: 1.9em;
                            }
                        }
                    }
                }
            }
        }
    }
    .titleabout {
        background-color: white;
        .text {
            max-width: 1200px;
            margin: auto;
            text-align: center;
            font-family: 'Josefin';
            font-size: 2em;
            padding-bottom: 0.6em;
            letter-spacing: 1.2em;
            padding-top: 1em;
        }
        .contenido {
            background: url('../img/arboles.png');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            .padre {
                max-width: 1200px;
                margin: auto;
                padding: 3%;
                width: 100%;
                display: block;
                text-align: center;
                .foto {
                    width: 100%;
                    img {
                        width: 15%;
                        min-width: 136px;
                        opacity: 1;
                        border-radius: 100%;
                        transition: 1s linear;
                        border: 6px solid rgba(255, 255, 255, 0.342);
                        &:hover {
                            opacity: .8;
                            border-color: rgba(255, 255, 255, 0.384);
                            cursor: pointer;
                        }
                    }
                }
                text-align: center;
                color: white;
                h2 {
                    margin-bottom: 1em;
                    font-family: 'Raleway';
                }
                p {
                    padding: 2%;
                    font-family: 'Raleway';
                    text-align: justify;
                    font-size: 1.1em;
                    margin-top: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    #der {
        .titleabout {
            .text {
                letter-spacing: 0.5em;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    #der .textabout .contenedor #navGrande {
        display: none;
    }
}

@media screen and (max-width: 560px) {

    #der .textabout .contenedor .me .contenido {
        margin-top: 4em;
    }
}