header{
  border-bottom: 5px solid rgba(147, 229, 183, 0.842);
  z-index: 1;
  .barra{
    height: 100vh;
    position: fixed;
    background: white;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    max-width: 200px;
    z-index: 2;
    img{
      width: 100%;
      max-width: 150px;
      margin: auto;
    }
  }
  nav.pequeña{
    display: none;
    padding: 4%;
    background: white;
    align-items: center;
    p{
      font-family: 'Raleway';
      margin-left: 1em;
    }
  }
  nav.grande{
 display: flex;
    background: white;
    .izq{
      width: 30%;
      padding: 0.1em;
      display: flex;
      align-content: center;
      align-items: center;
      p{
        margin-left: .5em;
        font-family: 'Raleway';
      }
      img{
        width: 17%;
        margin-left: 0.45em;
        max-width: 55px;
        min-width: 55px;
      }
    }
    .der{
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      li{
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
        transform: skew(20deg); 
        height: 100%;
        width: 100%;
        max-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        border-left: 6px solid transparent;
        transition-duration: 1s;
         &:hover .ca a{
          color: white;
          
        }
        &:hover{
          background: black;
          cursor: pointer;
          border-color: rgb(5, 228, 80);
        }
        
        .ca{
          transform: skew(-20deg);
        a {
          text-decoration: none;
          color: black;
          font-family: 'Raleway';

        }
      }
      }
      #first{
        margin-right: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 560px){
header{
  nav.grande{
    display: none;
  }
  nav.pequeña{
    display: flex; 
  }
}
}
.borroso{
  z-index: 3;
  height: 100vh;
  width: 100%;
  position: absolute;
  filter: blur(1px);
  background: rgba(0, 0, 0, 0.993);
}