#izq {
  width: 100%;
  max-width: 240px;
  height: 100vh;
  position: fixed;
  background: rgba(25, 33, 124, 0.094);
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.199);
  .fotocont {
    padding: 5%;
    h2 {
      margin-top: 0.5em;
      font-family: 'Raleway';
      font-weight: 400;
      color: white;
      font-size: 1.4em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.475);
    }
    h3 {
      margin-top: 0.5em;
      font-family: 'Raleway';
      font-size: 1em;
      font-weight: 300;
      color: white;
      display: flex;
      justify-content: center;
    }
    img {
      margin-top: 1em;
      width: 100%;
      border-radius: 100%;
      max-width: 150px;
      border: 6px solid rgba(255, 255, 255, 0.322);
    }
    i {
      width: 100%;
      text-align: left;
      color: white;
      font-size: 1.45em;
      position: absolute;
      top: 1em;
      left: 0.5em;
    }
  }
  .menu {
    margin-top: 1.9em;
    nav {
      li {
        list-style-type: none;
        transition: .5s linear;
        &:hover{
          background-color: #fa5351;
        }
        a {
          border-bottom: 1px solid rgba(255, 255, 255, 0.151);
          display: flex;
          color: white;
          padding: 6%;
          padding-left: 6%;
          text-decoration: none;
          .icon{
            width: 20%;
            text-align: left;
          }
          .text{
            font-family: 'Raleway';
          }
        }
        .primero{
          border-top: 1px solid rgba(255, 255, 255, 0.151);
        }
      }
    }
  }
}