section.icons{
    background-color: #fafafa;
    .contenedor{
        text-align: center;
        h2{
            font-size: 4em;
            padding-top: 1em;
        }
        h4{
            margin-top: 2em;
        }
    }
}