main {
    background: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: relative;
    height: 50vh;
    .imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: auto;
        img {
            height: 100%;
            max-height: 210px;
            margin: 8% auto;
      
        }
    }

}
