section.me{
    h2{
        font-size: 3.7em;
        padding-top: 1em;
        color: white;
        text-align: center;
    }
    div.father{
        display: flex;
        margin-top: 3em;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 7em;
        div.der, div.izq, div.cen{
            width: 100%;
            max-width: 400px;
            
            ul{
                padding-left: 0;
                li{
                    margin-top: .4em;
                    list-style-type: none;
                    width: 100%;
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        font-size: 1.08em;
                        div.link{
                            display: flex;
                            justify-content: center;
                            .icon{
                                width: 16%;
                                text-align: center;
                            }
                            .span{
                                width: 35%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            img{
                margin: auto;
                &:nth-child(0){
                    max-width: 128px;
                }
                &:nth-child(1){
                    max-width: 128px;
                }
            }
        }
        div.cen{
            h3{
                font-size: 2em;
                margin-top: .5em;
            }
            h4 {
                &:nth-child(1){
                    margin-top: .9em;
                }
            }
            img{
                transition: linear .5s;
                cursor: pointer;
                max-width: 200px;
                border-radius: 100%;
                border: 10px solid rgba(255, 255, 255, 0.247);
                &:hover{
                    transform: scale(1.05);
                    border: 2px solid rgba(255, 255, 255, 1);

                }
            }
        }
        div.izq{
            border-right: 1px solid white;

            ul{
                margin-top: 1.6em;
            }
        }
        div.der{
            img{
                margin-top: 1em;
            }
            ul{
                margin-top: 3.5em;
            }
            border-left: 1px solid white;
        }
    }
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}


@media screen and (max-width: 1199px){
    div.father{
        div.der, div.izq, div.cen{
            margin-top: 3em;
            border-color: transparent !important;
        }
    }

}