#der {
    .skills {
        .contenido {
            max-width: 1200px;
            margin: auto;
            padding: 1%;
            .top {
                width: 100%;
                font-family: 'Raleway';
                text-align: center;
                h2{
                    margin-top: 1.54em;
                    margin-bottom: 1em;
                    font-weight: 300;
                    font-size: 2em;
                }
                p{
                    text-align: justify;
                    margin-bottom: 1.54em;
                    max-width: 800px;
                    margin: auto;
                }
            }
            .botton{
                display: flex;
                margin: auto;
                .izq, .der {
                    width: 50%;
                    padding: 4%;
                    display: flex;
                    justify-content: center;
                    //align-items: center;
                    .porcentajes{
                        
                        width: 100%;
                        h2{
                            font-family: 'Raleway';
                            font-weight: 600;
                        }
                        h3 {
                            margin-top: 1em;
                            color: rgba(66, 65, 65, 0.9);
                            font-family: 'Raleway'; 
                        }
                        .progress-bar {
                            width: 0%;
                            height: 10px;
                            background: linear-gradient(to right, rgb(76, 217, 105), rgb(90, 200, 250), rgb(0, 132, 255), rgb(52, 170, 220), rgb(88, 86, 217), rgb(255, 45, 83));
                            margin-top: 10px;
                            background-size: 100% 5px;
                            border-radius: 10px;
                            animation: loading 6s ease-in-out forwards;
                        }
                        .shadow {
                            width: 100%;
                            height: 25px;
                            background: linear-gradient(to bottom, rgba(100, 100, 100, 0.17), rgba(100, 100, 100, 0.1), transparent);
                            transform: skew(45deg) translate(15px, 5px);
                        }
                        @keyframes loading {
                            to {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}