@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

/*
=================================
INICIALIZACIÓN
=================================
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fuente/iconos.woff2") format("woff2");
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fuentes/Roboto.ttf") format("truetype");
}

body {
  background-image: url("../img/dust_scratches.png");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  font-size: 1.85em;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.contenedor {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.padre {
  display: flex;
}

#izq {
  width: 14.5em;
  height: 100vh;
  position: fixed;
  text-align: center;
  border-right: 1px solid rgba(71, 71, 71, 0.199);
  background: #fff;
}

#izq .fotocont {
  padding: 5%;
}

#izq .fotocont h2 {
  margin-top: 0.5em;
  font-family: 'Raleway';
  font-weight: 400;
  color: black;
  font-size: 1.4em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.475);
}

#izq .fotocont h3 {
  margin-top: 0.5em;
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 300;
  color: black;
  display: flex;
  justify-content: center;
}

#izq .fotocont img {
  margin-top: 1em;
  width: 80%;
}

#izq .fotocont img:hover {
  border-color: white;
  cursor: pointer;
}

#izq .fotocont i {
  width: 100%;
  text-align: left;
  color: black;
  font-size: 1.45em;
  position: absolute;
  top: 1em;
  left: 0.5em;
}

#izq .menu {
  margin-top: 2.8em;
}

#izq .menu nav li {
  list-style-type: none;
  transition: .5s linear;
}

#izq .menu nav li:hover {
  background-color: #000000;
  color: white;
}

#izq .menu nav li:hover a {
  color: white;
}

#izq .menu nav li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  display: flex;
  color: black;
  padding: 6%;
  padding-left: 6%;
  text-decoration: none;
}

#izq .menu nav li a .icon {
  width: 20%;
  text-align: left;
}

#izq .menu nav li a .text {
  font-family: 'Raleway';
}

#izq .menu nav li .primero {
  border-top: 1px solid rgba(0, 0, 0, 0.288);
}

main {
  background: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: relative;
  height: 50vh;
}

main .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}

main .imagen img {
  height: 100%;
  max-height: 210px;
  margin: 8% auto;
}

#der {
  margin-left: 14.5em;
}

#der .textabout {
  background: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
}

#der .textabout .contenedor {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#der .textabout .contenedor h1,
#der .textabout .contenedor h2 {
  text-align: center;
  color: white;
  font-family: 'Raleway';
}

#der .textabout .contenedor h1 {
  font-size: 3em;
  padding-top: 2em;
}

#der .textabout .contenedor .iconos {
  margin: auto;
  max-width: 40em;
  border-top: 1px solid white;
  margin-top: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
}

#der .textabout .contenedor .iconos a {
  margin: 1%;
  text-decoration: none;
  text-align: center;
}

#der .textabout .contenedor .iconos a i {
  color: white;
  font-size: 1.9em;
}

#der .titleabout {
  background-color: white;
}

#der .titleabout .text {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: 'Josefin';
  font-size: 2em;
  padding-bottom: 0.6em;
  letter-spacing: 1.2em;
  padding-top: 1em;
}

#der .titleabout .contenido {
  background: url("../img/weather.png");
}

#der .titleabout .contenido .padre {
  max-width: 1200px;
  margin: auto;
  padding: 2%;
  width: 100%;
  display: block;
  text-align: center;
  text-align: center;
}

#der .titleabout .contenido .padre .foto {
  width: 100%;
}

#der .titleabout .contenido .padre .foto img {
  width: 15%;
  opacity: 1;
  border-radius: 100%;
  transition: 1s linear;
  border: 6px solid rgba(255, 255, 255, 0.342);
}

#der .titleabout .contenido .padre .foto img:hover {
  opacity: .8;
  border-color: rgba(255, 255, 255, 0.384);
  cursor: pointer;
}

#der .titleabout .contenido .padre h2 {
  margin-bottom: 1em;
  font-family: 'Raleway';
}

#der .titleabout .contenido .padre p {
  font-family: 'Raleway';
  text-align: justify;
  font-size: 1.1em;
  margin-top: 1em;
}

#der .caja {
  background: url("../img/bombillas.png");
  background-size: cover;
  background-position: center center;
}

#der .caja .contenido {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 2%;
}

#der .caja .contenido .sub {
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  width: 25%;
  text-align: center;
}

#der .caja .contenido .sub .foto {
  text-align: center;
}

#der .caja .contenido .sub .foto img {
  width: 100%;
  max-width: 110px;
  margin: auto;
}

#der .caja .contenido .sub .text {
  color: white;
  font-family: 'Raleway';
}

#der .caja .contenido .sub .text h2 {
  margin-top: 0.6em;
}

@media screen and (max-width: 800px) {
  header .der {
    display: none;
  }
  main {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  section#about {
    height: 100%;
  }
  section#about .contenedor .padre {
    flex-direction: column;
  }
  section#about .contenedor .padre .img {
    width: 100%;
  }
  section#about .contenedor .padre .text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 8vh;
  }
  header .contenedor .normal ul {
    justify-content: left;
  }
  header .contenedor .normal .izq .responsive {
    display: block;
  }
  header .contenedor .normal .izq img {
    display: none;
  }
  header .contenedor .normal .izq p {
    font-size: 1.35em;
    margin-left: 2%;
  }
  header .contenedor .normal .der {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */